* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #272727; }

.payment {
  padding-bottom: 30px; }

.one {
  padding-right: 12px;
  padding-top: 75px; }

.logo img {
  width: 120px; }

.hotline {
  display: inline-block; }

.hotline p:first-child {
  font-weight: 600; }

.hotline p {
  font-size: 20px; }

.hotline span {
  font-size: 29px;
  color: #50ad4e;
  display: block;
  padding: 2px 0; }

.payment-bar {
  padding-top: 28px;
  padding-bottom: 26px; }

.payment-bar img {
  width: 98%; }

.success {
  padding-bottom: 16px; }

.success img {
  vertical-align: middle;
  margin-right: 10px; }

.success h4 {
  display: inline;
  font-weight: 300;
  color: #50ad4e;
  font-size: 26px; }

.payment-content {
  padding: 15px 0 21px 25px;
  background-image: url("../images/bg1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; }

.payment-content h6 {
  font-size: 25px;
  padding-bottom: 35px; }

.payment-content p {
  font-size: 16px;
  padding-bottom: 9px; }

.left p {
  font-weight: 600; }

.right p {
  font-weight: 300; }

.warning {
  margin-top: 20px;
  padding: 0 16px; }

.warning p {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px; }

.info-banking {
  margin-top: 22px; }

.info-banking h6 {
  font-size: 20px;
  color: #50ad4e;
  padding-bottom: 6px;
  font-weight: bold; }

.info-banking p {
  font-size: 16px;
  padding-bottom: 9px; }

.info-banking .right p {
  font-weight: 300; }

.ck {
  margin-top: 32px; }

.ck h6 {
  font-size: 20px;
  color: #50ad4e;
  padding-bottom: 6px;
  font-weight: bold; }

.ck p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; }

.two {
  background-color: #f5f5f5;
  padding-top: 75px;
  padding-bottom: 290px; }

.right-top-content img {
  width: 100%;
  border-bottom: 2px solid #d3d3d3; }

.right-middle-content {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 2px solid #d3d3d3; }

.right-middle-content h5 {
  color: #50ad4e;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px; }

.right-middle-content p {
  font-weight: 300;
  font-size: 17px; }

.payment-info {
  padding-top: 31px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3d3d3; }

.payment-info h6 {
  color: #50ad4e;
  padding-bottom: 15px;
  font-weight: 600;
  text-align: center;
  font-size: 20px; }

.payment-info img {
  vertical-align: middle;
  margin-right: 6px;
  width: 13%; }

.payment-info p {
  font-size: 15px;
  font-weight: 300;
  color: #50ad4e;
  padding-bottom: 12px;
  display: inline-block; }

.deep p {
  font-weight: 300;
  color: #272727;
  padding-top: 3px; }

.deep p:last-child {
  line-height: 18px; }

.payment-info label {
  font-size: 15px;
  color: #50ad4e;
  padding-bottom: 12px;
  display: inline-block; }

.payment-info input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 9px;
  padding-left: 4px;
  padding-bottom: 2px;
  font-size: 15px; }

.payment-info input:focus {
  outline: none; }

.after {
  display: none; }

.bonus-button button {
  color: #fff;
  background-color: #fb6a00;
  font-size: 16px;
  padding: 8px 6px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 1px #d65a00; }

.bonus-button button i {
  padding-right: 6px;
  vertical-align: top; }

.bonus-button button:focus {
  outline: none; }

.bonus-button button:hover {
  background-color: #ff791a; }

.total-money {
  padding-top: 18px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #50ad4e; }

.total-money span:first-child {
  float: left;
  font-weight: 300; }

.total-money span:last-child {
  float: right;
  font-weight: bold; }

.banking-info, .cod-info {
  padding: 15px 0 18px 27px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e3e3e3;
  font-size: 15px;
  line-height: 18px;
  display: none; }

.banking-info p, .cod-info p {
  padding-bottom: 0;
  font-weight: 100; }

.note {
  padding-top: 30px;
  padding-bottom: 30px !important; }

.banking-info b, .cod-info b {
  font-weight: bold; }

.banking-info h5, .cod-info h5 {
  color: #50ad4e;
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px; }

.ppl-info {
  padding-top: 8px; }

.ppl-info p {
  padding-bottom: 4px !important; }

.bottom-cod {
  margin-top: 20px;
  padding-left: 6px; }

.bottom-cod textarea {
  width: 92%;
  height: 200px;
  border-radius: 10px;
  padding-top: 14px;
  padding-left: 14px;
  font-style: italic;
  border: 1px solid #1d1d1d; }

.bottom-cod textarea:focus {
  outline: none; }

p.italic {
  font-style: italic; }

img.pink {
  width: 36%;
  margin: auto;
  display: none; }

@media screen and (max-width: 1199px) {
  .payment-bar img {
    display: none; }

  img.pink {
    display: block;
    width: 50%; }

  .payment-content {
    padding: 15px 0 21px 18px; }

  .payment-content p {
    font-size: 14px; }

  .deep p {
    padding-top: 0; }

  .payment-info input {
    margin-bottom: 6px; }

  .total-money {
    font-size: 16px; } }
@media screen and (max-width: 991px) {
  img.pink {
    width: 44%; }

  .one {
    margin-bottom: 30px; }

  .two {
    padding-bottom: 30px; }

  .payment-content p {
    font-size: 16px; }

  .payment-info img {
    margin-bottom: 8px; }

  .payment-info input {
    margin-bottom: 27px; }

  .deep p {
    display: block;
    padding-top: 17px; }

  .total-money {
    font-size: 18px; } }
@media screen and (max-width: 767px) {
  p.red {
    padding-top: 14px; }

  .payment-info input {
    margin-bottom: 28px; } }
@media screen and (max-width: 480px) {
  .logo img {
    width: 110px; }

  img.pink {
    width: 50%; }

  .success img {
    width: 13%; }

  .success h4 {
    font-size: 23px; }

  p.red {
    padding-top: 16px; }

  .deep p {
    padding-top: 6.5px; }

  .payment-info input {
    margin-bottom: 14px; } }
@media screen and (max-width: 414px) {
  img.pink {
    width: 60%; }

  .success h4 {
    font-size: 20px; }

  .left {
    padding: 0 13px; }

  .payment-info .row .col-xs-5 {
    padding: 0 6px; }

  .total-money {
    font-size: 17px; }

  p.red {
    padding-top: 31px; }

  .deep p {
    padding-top: 4.5px; }

  .payment-info input {
    margin-bottom: 11px; } }
@media screen and (max-width: 375px) {
  .logo img {
    width: 100px; }

  .hotline span {
    font-size: 25px; }

  .success h4 {
    font-size: 18px; }

  .payment-content h6 {
    font-size: 20px;
    padding-bottom: 20px; }

  .warning p {
    font-size: 15px; }

  .left {
    padding: 0 7px; }

  .payment-content p {
    font-size: 14px; }

  .info-banking p {
    font-size: 15px; }

  .payment-info .row .col-xs-5 {
    padding: 0 3px; }

  .payment-info p {
    font-size: 14px; }

  .payment-info img {
    margin-bottom: 0; }

  .payment-info label {
    font-size: 14px; }

  .payment-info input {
    font-size: 14px;
    margin-bottom: 7px; }

  .deep p {
    padding-top: 1.5px; }

  .info-banking h6, .ck h6 {
    font-size: 18px; }

  .total-money {
    font-size: 16px; } }
@media screen and (max-width: 360px) {
  .hotline span {
    font-size: 24px; }

  img.pink {
    width: 58%; }

  .success img {
    width: 10%; }

  .left {
    padding: 0 4px; }

  .payment-content h6 {
    font-size: 18px; }

  p.red {
    padding-top: 28px; }

  .warning p {
    font-size: 15px; }

  .before .col-xs-6 {
    padding: 0 12px; }

  .after .col-xs-6 {
    padding: 0 12px; }

  .right {
    padding: 0 13px; }

  .payment-info .row .col-xs-5 {
    padding: 0; } }
@media screen and (max-width: 320px) {
  .logo img {
    width: 90px; }

  .hotline span {
    font-size: 22px; }

  .success img {
    margin-right: 5px; }

  .success h4 {
    font-size: 16px; }

  .payment-content h6 {
    font-size: 18px; }

  .right {
    padding: 0 10px; }

  p.red {
    padding-top: 28px; }

  .info-banking h6, .ck h6 {
    font-size: 17px; }

  .warning p {
    font-size: 14px; }

  .left {
    padding: 0 4px; }

  .right {
    padding: 0 7px; }

  .info-banking p {
    font-size: 14px; }

  .ck p {
    font-size: 14px; }

  .before .col-xs-6 {
    padding: 0px 4px; }

  .after .col-xs-6 {
    padding: 0px 3px; }

  .total-money {
    font-size: 14px; }

  .payment-info .row .col-xs-5 {
    width: 47%; }

  .payment-info .row .col-xs-7 {
    width: 53%;
    padding: 0 8px; } }

/*# sourceMappingURL=style3.css.map */
